In [1]:
student ={'name':'john',
          'age': 25,
          'course':['math','compSci'],
          'phone': '555-5555',
          'address':'123 man st',
          'city':'New York',}
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York'}

method to access dict:

In [3]:
print(student['name'])
print(student['course'])

john
['math', 'compSci']

In [4]:
#second method to access dictionary
print(student.get('name'))
print( student.get('course'))

john
['math', 'compSci']

In [5]:
# to add a new key value pair
student['school']= 'MIT'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT'}

In [6]:
student['DOB']='13-07-2003'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT', 'DOB': '13-07-2003'}

In [7]:
student['reg_id']= '238904t'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT', 'DOB': '13-07-2003', 'reg_id': '238904t'}

In [8]:
student['fathers name']='unknown'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT', 'DOB': '13-07-2003', 'reg_id': '238904t', 'fathers name': 'unknown'}

In [10]:
student['mothers name']='unknown'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT', 'DOB': '13-07-2003', 'reg_id': '238904t', 'fathers name': 'unknown', 'mothers name': 'unknown'}

In [11]:
Show={'name': 'Radhe Krishna',
      'male lead':'sumedh mudgalkar',
      'female lead': 'Malika singh',
      'total session':2,
      'ratng':4.5,
      'ott':'hotstar',}
print(Show)

{'name': 'Radhe Krishna', 'male lead': 'sumedh mudgalkar', 'female lead': 'Malika singh', 'total session': 2, 'ratng': 4.5, 'ott': 'hotstar'}

In [19]:
for key in Show:
    print(key)

name
male lead
female lead
total session
ratng
ott

In [17]:
# to print key and value both using loop
for k,v in Show.items():
    print(k,v)

name Radhe Krishna
male lead sumedh mudgalkar
female lead Malika singh
total session 2
ratng 4.5
ott hotstar

In [20]:
#to print all the values
for v in Show.values():
    print(v)

Radhe Krishna
sumedh mudgalkar
Malika singh
2
4.5
hotstar

In [21]:
print(Show.values())
print(Show.keys())
print(Show.items())

dict_values(['Radhe Krishna', 'sumedh mudgalkar', 'Malika singh', 2, 4.5, 'hotstar'])
dict_keys(['name', 'male lead', 'female lead', 'total session', 'ratng', 'ott'])
dict_items([('name', 'Radhe Krishna'), ('male lead', 'sumedh mudgalkar'), ('female lead', 'Malika singh'), ('total session', 2), ('ratng', 4.5), ('ott', 'hotstar')])