In [1]:
student ={'name':'john',
          'age': 25,
          'course':['math','compSci'],
          'phone': '555-5555',
          'address':'123 man st',
          'city':'New York',}
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York'}

method to access dict:

In [3]:
print(student['name'])
print(student['course'])

john
['math', 'compSci']

In [4]:
#second method to access dictionary
print(student.get('name'))
print( student.get('course'))

john
['math', 'compSci']

In [5]:
# to add a new key value pair
student['school']= 'MIT'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT'}

In [6]:
student['DOB']='13-07-2003'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT', 'DOB': '13-07-2003'}

In [7]:
student['reg_id']= '238904t'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT', 'DOB': '13-07-2003', 'reg_id': '238904t'}

In [8]:
student['fathers name']='unknown'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT', 'DOB': '13-07-2003', 'reg_id': '238904t', 'fathers name': 'unknown'}

In [10]:
student['mothers name']='unknown'
print(student)

{'name': 'john', 'age': 25, 'course': ['math', 'compSci'], 'phone': '555-5555', 'address': '123 man st', 'city': 'New York', 'school': 'MIT', 'DOB': '13-07-2003', 'reg_id': '238904t', 'fathers name': 'unknown', 'mothers name': 'unknown'}

In [11]:
Show={'name': 'Radhe Krishna',
      'male lead':'sumedh mudgalkar',
      'female lead': 'Malika singh',
      'total session':2,
      'ratng':4.5,
      'ott':'hotstar',}
print(Show)

{'name': 'Radhe Krishna', 'male lead': 'sumedh mudgalkar', 'female lead': 'Malika singh', 'total session': 2, 'ratng': 4.5, 'ott': 'hotstar'}

In [19]:
for key in Show:
    print(key)

name
male lead
female lead
total session
ratng
ott

In [17]:
# to print key and value both using loop
for k,v in Show.items():
    print(k,v)

name Radhe Krishna
male lead sumedh mudgalkar
female lead Malika singh
total session 2
ratng 4.5
ott hotstar

In [20]:
#to print all the values
for v in Show.values():
    print(v)

Radhe Krishna
sumedh mudgalkar
Malika singh
2
4.5
hotstar

In [21]:
print(Show.values())
print(Show.keys())
print(Show.items())

dict_values(['Radhe Krishna', 'sumedh mudgalkar', 'Malika singh', 2, 4.5, 'hotstar'])
dict_keys(['name', 'male lead', 'female lead', 'total session', 'ratng', 'ott'])
dict_items([('name', 'Radhe Krishna'), ('male lead', 'sumedh mudgalkar'), ('female lead', 'Malika singh'), ('total session', 2), ('ratng', 4.5), ('ott', 'hotstar')])

    PRACTICE QUESTION

Check if a given key exist in a dictionary or not

In [4]:
student= { 'Sahil':567, 'Saurabh':432,'Adyan':467}
user_ip = input("enter a key to be verified : ")
if user_ip in student.keys():
    print("key is present in the dictionary")
    print('value',':',student[user_ip])
else:
    print('key does not present in the dictionary')

key is present in the dictionary
value : 432

Concatenate two dictionary into one

In [5]:
Group1={'seema': 23, 'Rishita': 25, 'Anshika': 23 }
Group2={'akash':42, 'Akshay': 44, 'ravi':45}
Group1.update(Group2)
print(Group1)

{'seema': 23, 'Rishita': 25, 'Anshika': 23, 'akash': 42, 'Akshay': 44, 'ravi': 45}

Multiply all the values in a dictionary

In [8]:
Group1={'seema': 23, 'Rishita': 25, 'Anshika': 23 }
m_value =1
for i in Group1:
    m_value = m_value*Group1[i]
print('Multiplication value : ', m_value)

Multiplication value :  13225

Calculate sum of all in a dictionary

In [9]:
Group1={'seema': 23, 'Rishita': 25, 'Anshika': 23 }
total= sum(Group1.values())
print(total)

71

Convert two list n a dictionary

In [11]:
l1=[1,2,3,4]
l2=['Python','Ear','pokemon','McDonald']
Group1= dict(zip(l1,l2))
print(Group1)

{1: 'Python', 2: 'Ear', 3: 'pokemon', 4: 'McDonald'}

In [12]:
for i in zip(l1, l2):   #It will create a tuple
    print(i)

(1, 'Python')
(2, 'Ear')
(3, 'pokemon')
(4, 'McDonald')

Count the frequency of words appearing in a string