In [ ]:
age=input("enter your no:")
type(age)

str

In [ ]:
age=input("enter ur age:")
age= int(age)
type(age)

int

In [ ]:
x='100'
y='45'
x+y

'10045'

In [ ]:
x= int(x)
y= int(y)
x+y

145

In [ ]:
z=1.232
z1= int(z)
z

1.232

In [ ]:
z= 1.232
z1=int(z)
z
type(z)
z1
type(z1)

int

In [ ]:
a=input('your name>>>')
type(a)

str

In [ ]:
b=input('age of tiger')
type(b)

str

In [ ]:
x= 5
x= str(5)
type(x)

str

In [ ]:
pi= 3.145
p= int(pi)
type(p)

int

In [ ]:
num=0
value= bool(num)
type(value)

bool

In [ ]:
married = 'yes'
m= bool("married")
type(m)

bool

In [ ]:
print("tiger is the king")

tiger is the king

In [ ]:
print('brandon','beer')

brandon beer

In [ ]:
name= "jasika"
name
print( name)

jasika

In [ ]:
a= 30
a
print(a)

30

In [ ]:
name= "ghar"
name

'ghar'

In [ ]:
print(1,2,4,7)

1 2 4 7

In [ ]:
print(1,2,3,4, sep= '*')

1*2*3*4

In [ ]:
print(1,2,3,4 ,sep ='  ' , end= '  ')

1  2  3  4   2

In [ ]:
# the f strings
qty = 10
fruit= "apple"
print('i will purchase',qty,fruit,'today')

i will purchase 10 apple today

In [ ]:
name= "digipodium"
type_of_company ="educational"
print(f"(name) is an {type_of_company} company.")

(name) is an educational company.